<h1>
  {{ heroe.id ? "Editar" : "Agregar" }} heroe -
  <small>{{ heroe.superhero }}</small>
</h1>
<mat-divider></mat-divider>
<div
  fxLayout="row"
  fxLayout.md="column"
  fxLayout.sm="column"
  fxLayout.xs="column"
  fxLayoutGap="40px"
>
  <div fxFlex="50" fxFlex.sm="25" fxFlex.xs="25" fxLayout="column">
    <div
      fxLayout="row"
      fxLayout.xs="column"
      fxLayoutGap="20px"
      fxLayoutGap.sm="10px"
      fxLayoutGap.xs="5px"
    >
      <mat-form-field fxFlex="100">
        <mat-label>Super Heroe</mat-label>
        <input matInput [(ngModel)]="heroe.superhero" required type="text" />
      </mat-form-field>
      <mat-form-field fxFlex="100">
        <mat-label>Alter Ego</mat-label>
        <input matInput [(ngModel)]="heroe.alter_ego" required type="text" />
      </mat-form-field>
    </div>
    <mat-form-field>
      <mat-label>Primera aparicion</mat-label>
      <input
        matInput
        [(ngModel)]="heroe.first_appearance"
        required
        type="text"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Personajes</mat-label>
      <input matInput [(ngModel)]="heroe.characters" required type="text" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Creador / Estudio creador</mat-label>
      <mat-select>
        <mat-option
          *ngFor="let publisher of publishers"
          required
          [(ngModel)]="heroe.publisher"
          [value]="publisher.id"
        >
          {{ publisher.desc }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Foto URL</mat-label>
      <input matInput [(ngModel)]="heroe.alt_img" type="url" />
    </mat-form-field>
    <div fxLayout>
      <button mat-raised-button color="accent" (click)="agregar()">
        <mat-icon>check</mat-icon>
        {{ heroe.id ? "Actualizar" : "Crear" }}
      </button>
      <span class="spacer"></span>
      <button
        *ngIf="heroe.id"
        mat-raised-button
        color="warn"
        (click)="borrarHeroe()"
      >
        <mat-icon>delete</mat-icon>
        Eliminar
      </button>
    </div>
  </div>
  <div
    fxFlex="50"
    fxFlex.sm="25"
    fxFlex.xs="25"
    fxLayoutAlign.md="center center"
    fxLayoutAlign.sm="center center"
    fxLayoutAlign.xs="center center"
  >
    <img [src]="heroe | imagen" alt="super hero image" />
  </div>
</div>
